.nav {
  margin: 0 auto;
  padding-bottom: 20px; 
  z-index: 10;
  font-weight: 600;
  display: flex;
  align-content: center;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif

}

.home {
  position: relative;
  color: #686de0;
  text-shadow: none;
  padding: 10px;
  font-size: 24px;
  transition: color 0.5s ease;
}

.home:before {
  color: #000000;
  text-shadow: 0 0 1px rgba(255, 255, 255, 0.3);
  content: attr(data-hover);
  position: absolute;
  transition: transform 0.5s, opacity 0.5s;
  pointer-events: none;
}

.home:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: #aeacac;
  opacity: 0;
  transform: translateY(5px);
  transition: transform 0.5s, opacity 0.5s;
  pointer-events: none;
}

.home:hover:before,
.home:focus-visible:before {
  opacity: 0;
  transform: translateY(-2px);
}

.home:hover:after,
.home:focus-visible:after {
  opacity: 1;
  transform: translateY(0);
}

.btn {
  position: relative;
  display: inline-block;
  overflow: hidden;
  border:0;
  border-radius: 8px;
  font-weight: bold;
  font-size: 24px;
  letter-spacing: 1px;
  cursor: pointer;
  transition: color 0.5s ease;
  background-color: inherit;
}
:global(html.dark) .home::before {
  color: #FFFFFF;
  transition: color 0.5s ease;
}
:global(html.light) .home:before{
  transition: color 0.5s ease;
  color:#000000;
}
:global(html.dark) .btn {
  color: #FFFFFF;
}
